@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body,
dialog {
  @apply bg-primary-50 dark:bg-primary-950 text-primary-900 dark:text-primary-100;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.7);
}

@theme {
  /* Animations */
  --animate-scale: scale 6s infinite ease-in-out;

  @keyframes scale {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }

  /* Colors */
  --color-primary-50: #fbf5ff;
  --color-primary-100: #f8ebff;
  --color-primary-200: #eaccff;
  --color-primary-300: #d6a9fc;
  --color-primary-400: #ab6dfc;
  --color-primary-500: #712cf9;
  --color-primary-600: #6024e0;
  --color-primary-700: #4918ba;
  --color-primary-800: #341196;
  --color-primary-900: #230970;
  --color-primary-950: #120447;

  /* Fonts */
  --font-cursive: Delius Swash Caps;
  --font-mono: Inconsolata;
  --font-sans: Inter;
  --font-serif: Lora;

  /* Breakpoints */
  --breakpoint-xs: 30rem;
}
